__pycache__
igm_model.egg-info/
dist
sol_analytic
paper.tex
fig/
biblio.bib
pix2pixhd-texture-model/
texture-aif-test
tests/examples/texture-test/
checkpoints/
logdir/
# texture/
smb_accpdd/
clim_glacialindex/
igm_performance/

# hide output files and data
input_saved.nc
RGI60-11.01450/
output.nc
optimize.nc
computational-statistics.txt
memory-statistics.txt
computational-pie.png
memory-pie.png
examples/params.json
clean.sh
params_saved.json

smb_accpdd/
clim_glacialindex/
input_saved.nc
RGI60-*/
.vscode/