__pycache__
igm_model.egg-info/
dist
sol_analytic
pix2pixhd-texture-model/
texture-aif-test
tests/examples/texture-test/
checkpoints/
logdir/
.DS_Store

# hide output files and data
.vscode/
data
*.dat
.history/
output/
outputs/
multirun/
.idea/

# Nvidia Nsight Systems
*.nsys-rep
*.sqlite