__pycache__
igm_model.egg-info/
dist
sol_analytic
paper.tex
fig/
biblio.bib
pix2pixhd-texture-model/
texture-aif-test
tests/examples/texture-test/
checkpoints/
logdir/
.DS_Store

# hide output files and data

input_saved.nc
RGI60-*/
.vscode/
data
*.dat
thk_MG
.history/
outputs/
multirun/
.idea/
energy_iceflow_DG.py
emulate_DG.py
optimize_fw.py
